#### print statement

In [ ]:
print("Hello World")

In [ ]:
print("Hello World, \nI am \"Syed Mohammed Rabbi Hossain\".\nI am 27 years old")

### basic calculator

In [ ]:
num1 = float(input("Write the first number: "))
num2 = float(input("Write the second number: "))
print("The result is: ",num1, "+",num2,"=",num1+num2)
print("The result is: ",num1, "-",num2,"=",num1-num2)
print("The result is: ",num1, "*",num2,"=",num1*num2)
print("The result is: ",num1, "/",num2,"=",num1/num2)
print("The result is: ",num1, "//",num2,"=",num1//num2)
print("The result is: ",num1, "%",num2,"=",num1%num2)

#### user input

In [ ]:
value1 = input("Write the first value: ")
value2 = input("Write the second value: ")
print(value1 + value2)
print("the result is " ,int(value1) + int(value2))
print("the result is " ,int(value1) - int(value2))
print("the result is " ,int(value1) * int(value2))
print("the result is " ,int(value1) / int(value2))
print("the result is " ,int(value1) // int(value2))
print("the result is " ,int(value1) % int(value2))

#### string slicing and len of string

In [ ]:
str = "Mango"
name = "Rabby Hossain"
len1 = len(str)
print("Mango is a",len1,"letter character")
print(name[-7:-3])

#### Quick quiz

In [ ]:
nm = "Harry"
print(nm[-4:-2])

#### string method

In [ ]:
a = "welcome to Millennium University!!!"
print(a.upper())
print(a.lower())
print(a.rstrip("!"))
print(a.split(" "))
print(a.replace("Wellcome to Millennium University", "Hello I am Crisiano Ronaldo"))
print(a.capitalize())
print(a.count("m"))
print(a.center(50))
print(a.endswith("!"))
print(a.endswith("to",4,11))
print(a.find("to"))
print(a.index("to"))
print(a.isalnum())
print(a.isalpha())
print(a.islower())
print(a.isupper())
print(a.isprintable())
print(a.isspace())
print(a.istitle())
print(a.startswith("w"))
print(a.swapcase())
print(a.title())

print(len(a))

#### if else condition

In [ ]:
age = int(input("Enter your age: "))
if age > 18:
    print("You're eligble for driving.")
else:
    print("You're not eligble for driving.")
print("Thanks for your patience.")

In [ ]:
budget = 37000
price = int(input("Enter the price: "))
if budget - price == 2000:
    print("I will buy it later")
elif budget - price == 3000:
    print("I think, i can buy it")
elif budget - price > 5000:
    print("I am gonna buy it now.")
else:
    print("I dont think, it's worthy")

In [ ]:
num = int(input("Enter the value of number: "))
if num < 0:
    print("It's a negative number.")
elif num == 0:
    print("Number is zero.")
else:
    print("Number is positive.")

#### time module

In [2]:
import time
# time_count = time.strftime('%H:%M:%S')
hour = int(time.strftime('%H'))
# hour = int(input("Write the time into basis of hour: "))
if hour >= 1 and hour <= 6:
    print("Go and sleep ashole")
elif hour >= 7 and hour <= 11:
    print("Wake up.Do some workout.")
elif hour >= 12 and hour <= 15:
    print("Good noon! Have some lunch.")
elif hour >= 16 and hour <= 18:
    print("Good Afternoon, go outside and play some game.")
elif hour >= 19 and hour <= 20:
    print("Good Evening, Have some snacks")
else:
    print("Read your book, and make sure finish your dinner.")

Good Evening, Have some snacks

#### match case statement

In [ ]:
x =int(input("Write down the number between 1 - 10"))
match x:
    case _ if x == 1:
        print(x, "Number is one")
    case 0:
        print("Number is blank")
    case _ if x ==2:
        print("Number is Two")

#### while loop

In [ ]:
i = 5
while i > 0:
    print(i, end =",")
    i-= 1

In [ ]:
i = 1
while i < 6:
    print(i, end = ",")
    i += 1

#### break statement

In [ ]:
for i in range(12):
    if i == 10:
        break
    print("5 X",i+1, "=" ,5*i+1)

#### continue statement

In [ ]:
for i in range(1,12):
    if i == 10:
        continue
    print("5 X",i, "=" ,5*i)

#### do while loop

In [ ]:
i = 0
while True:
    print(i)
    i += 1
    if i%100==0:
        break

#### list comprehension

In [ ]:
lst = [i for i in range(10) if i%2!=0]
print(lst)

#### list method

In [4]:
l = [23, 34, 43, 12, 3, 56, 87, 45, 23]
# # l.append(7)
# # # l.sort()
# # # for descending we can use this
# # # l.sort(reverse = True)
# # l.reverse()
# k = l.index(3)
# # l.count(2)
# # l.insert(2, 45)
l.extend([65,45,14])
print(l)

[23, 34, 43, 12, 3, 56, 87, 45, 23, 65, 45, 14]

#### convert tuples into list

In [4]:
tup = (1,2,3,4,5,6,7,8)
temp = list(tup)
temp.append(9)
temp.pop(8)
temp.insert(3,10)
temp.sort()
temp2 = tuple(temp)
print(temp2)

(1, 2, 3, 4, 5, 6, 7, 8, 10)

#### kaun banega crorepoti exercise

In [ ]:
 questions = [
     ["How many people lives in Bangladesh?", "16CR","20CR","18CR","22CR",3],
     ["Who is the prime minister in Bangladesh?","Sheikh Hasina","Ashis","Rana","Khaleda Zia",1],
     ["Name of capital of Bangladesh?", "Dhaka","Chattagaram","Barishal","Sylhet",1],
     ["Who was the first nobel prize winner?", "Rahim","Karim","Barkat","William",4]
 ]
levels = [1000,2000,3000,4000]
for i in range(len(questions)):
    question = questions[i]
    print(f"Here is your bdt {levels[i]} dolllar's question,{question[0]}")
    print(f"1.{question[1]}      2.{question[2]}     3.{question[3]}     4.{question[4]}")
    ans =int(input("Enter your answer betweet 1-4: "))
    if ans == question[-1]:
        print(f"Congratulations you won {levels[i]}")

Here is your bdt 1000 dolllar's question,How many people lives in Bangladesh?
1.16CR      2.20CR     3.18CR     4.22CR
Enter your answer betweet 1-4: 3
Congratulations you won 2000
Here is your bdt 2000 dolllar's question,Who is the prime minister in Bangladesh?
1.Sheikh Hasina      2.Ashis     3.Rana     4.Khaleda Zia

#### formatted string

In [7]:
letter = "Hi I,m {} and I am from {}. "
name = "Syed Mohammed Rabbi Hossain"
country = "Bangladesh"
print(letter.format(name,country))

Hi I,m Syed Mohammed Rabbi Hossain and I am from Bangladesh.

#### recursion using in fibonacci series

In [8]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)
result = fibonacci(5)
print(result)

5

#### sets method

In [10]:
# for empty set we can declare like thid
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = s1.union(s2)
print(s3)
s1.update(s2)
print(s1)
s4 = s1.intersection(s2)
s1.intersection_update(s3)
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4, 5, 6}

### dictonary method

In [18]:
ep1 = {112:56,122:65,133: 67}
ep2 = {233: 63, 333: 76}
ep3  = ep1.update(ep2)
# ep1.clear()
ep1.pop(112)
ep1.popitem()
del ep1[122]
print(ep1)

{133: 67, 233: 63}

#### for loops with else condition

In [20]:
for i in range(1, 7):
    print(i)
    if i == 7:
        break
else:
    print("Done! no iteration left here.")

1
2
3
4
5
6
Done! no iteration left here.

### error handling

In [28]:
try:
    num = int(input("Enter the number: "))
    print(f"Multiplication of {num}")

    for i in range(1,11):
        print(f"{num} X {i} = {num * i}")
except ValueError:
    print("Some Error occured.")
    print("Number enter is not an integer")
    
print("Finish.")

Enter the number: rabby
Some Error occured.
Finish.

#### finally clause

In [3]:

l = [123,32,54,57,13,35]
i = int(input("Enter the index: "))
try:
    print(f"{l[i]}")
except:
    print("Some error occured")
finally:
    print("I am always executed.")

Enter the index: 4
13
I am always executed.